*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #070505;
    background-color: #1ca2c4 
    ;

}
header{
    background: linear-gradient(135deg, #2ad0ed 0%,#092341 100%);
    color: #040101;
    text-align: center;
    padding: 4rem 1rem;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;

}
header h1{
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
header p{
    font-size: 1.3rem;
    opacity: 2rem; 
    font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.container{
    max-width: 800px;
    margin: 2.5rem auto;
    padding:0 1.5rem;
}
section{
    background-color: rgb(60, 154, 185);
    border-radius: 12px;
    padding: 2.2rem;
    margin-bottom: 2.5rem;
}
section:hover{
    transform: translatey(-6px);
    box-shadow: 0 12px 28px rgba(0,0,0,12);
}
ul{
    list-style: none;
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;

}
ul li{
    background-color: #78aae3;
    padding: 1rem 1.8rem;
    border-radius:10px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s case;
    border: 1px solid rgb(101, 239, 191);
}
ul::after{

}
ul a{
    text-decoration: none;
    color: #020202;
    display: block;
}
ul li:hover{
    background: #a834a8;
    color: #608dc7;

}

section p{
    font-size: 1.5rem;
    color: #b1e3d4;
}
footer{
    text-align: center;
    padding: 2 rem;
    margin-top: 3 rem;
    background-color: #333;
    color: #dbdffa;
}
footer p{
font-family: "Betania Patmos In GDL", cursive;
  font-weight: 400;
  font-style: normal;
}
body{
    margin: 0;
    min-height: 100vh;
}